streamlit
yfinance
pandas
numpy
scikit-learn
requests
streamlit-autorefresh
pytz
requests
altair
scipy
plotly
mplfinance
matplotlib
alpha_vantage
pandas-datareader
curl_cffi
streamlit
yfinance
pandas
numpy
scikit-learn>=1.0
scipy>=1.6
plotly
requests
pandas_datareader
